In [2]:
import pandas as pd

df = pd.read_csv('/Users/khb43/Desktop/HANKYUNG_WITH_TOSS_BANK-2(소민호 강사님)/week9~11 실무 프로젝트 관련/data/선정 데이터(프로젝트 데이터)/clients/demo_set.csv')

In [3]:
df.shape

(25, 115)

In [4]:
df

,SK_ID_CURR,name,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,AMT_APPLICATION_MAX,AMT_APPLICATION_SUM,AMT_APPLICATION_MEAN,RATE_DOWN_PAYMENT_MEAN,IS_REVOLVING_LOAN,Dependents_Index,Income_to_Dependents_Ratio,Debt_to_Income_Ratio,Debt_Repayment_Capability_Index,Credit_Utilization_Ratio
0,342407,강민호,0,Cash loans,M,Y,Y,0,360000.0,1223010.0,...,225000.0,502866.0,1.676220e+05,0.050004,0.0,0.0,360000.0,2.218750,0.040709,0.347725
1,247197,김현빈,1,Cash loans,F,Y,N,0,225000.0,942300.0,...,1012500.0,3196701.0,6.393402e+05,0.099205,0.0,0.0,225000.0,1.679543,0.159080,0.283952
2,388971,김희교,0,Revolving loans,M,N,Y,0,270000.0,270000.0,...,120195.0,234846.0,3.354943e+04,0.135609,1.0,0.0,270000.0,0.036515,0.025958,0.136114
3,342954,박동현,1,Cash loans,F,N,Y,0,202500.0,835380.0,...,26730.0,71681.4,2.389380e+04,0.106632,0.0,0.0,202500.0,1.316024,0.018697,0.596455
4,293026,박선애,0,Cash loans,F,Y,N,0,112500.0,450000.0,...,2250000.0,13115965.5,1.008920e+06,0.173986,0.0,0.0,112500.0,0.000000,0.385823,0.000000
5,219676,성원석,0,Cash loans,F,Y,Y,0,126000.0,360000.0,...,77346.0,131346.0,6.567300e+04,0.000000,0.0,0.0,126000.0,0.000000,0.051686,0.000000
6,390619,신동훈,1,Cash loans,M,Y,N,0,270000.0,790830.0,...,202351.5,1499908.5,9.999390e+04,0.004328,0.0,0.0,270000.0,2.211995,0.063638,0.558137
7,307654,신지민,0,Revolving loans,F,Y,Y,1,225000.0,450000.0,...,76950.0,135009.0,6.750450e+04,0.000000,0.0,0.5,112500.0,0.000000,0.029178,0.000000
8,294801,오손빈,1,Cash loans,F,Y,Y,0,90000.0,432567.0,...,765000.0,785025.0,2.616750e+05,0.000000,0.0,0.0,90000.0,0.249963,0.250583,0.064046
9,381931,위혜인,0,Revolving loans,F,N,N,2,121500.0,202500.0,...,14602.5,14602.5,1.460250e+04,0.000000,0.0,1.0,40500.0,0.135256,0.012316,0.275619
10,287357,이나은,0,Cash loans,F,N,Y,1,85500.0,436032.0,...,133470.0,230943.6,7.698120e+04,0.054475,0.0,1.0,42750.0,1.369873,0.125456,0.356818
11,200733,이동현,1,Cash loans,F,N,Y,0,225000.0,521280.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,225000.0,1.023980,0.092781,0.319973
12,346981,이승준,0,Cash loans,F,Y,N,0,283837.5,568800.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,283837.5,2.090864,0.000000,0.000000
13,404467,이승훈,1,Revolving loans,F,N,Y,0,90000.0,202500.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,90000.0,0.272765,0.000000,0.000000
14,198409,이유리,0,Cash loans,F,N,Y,0,112500.0,518562.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,112500.0,0.000000,0.000000,0.000000
15,199814,이주영,1,Cash loans,M,N,N,0,81180.0,405000.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,81180.0,0.069651,0.000000,0.000000
16,161427,이현상,0,Cash loans,F,Y,Y,0,225000.0,832500.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,225000.0,0.031859,0.000000,0.000000
17,389558,장성민,0,Cash loans,F,N,Y,0,42750.0,284400.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,42750.0,1.061421,0.000000,0.000000
18,417818,전영욱,1,Cash loans,F,N,N,0,112500.0,450000.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,112500.0,0.000000,0.000000,0.000000
19,409328,정명훈,0,Revolving loans,M,Y,Y,0,540000.0,1350000.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,540000.0,0.725321,0.000000,0.000000
20,160136,정지영,1,Cash loans,F,N,N,1,90000.0,265851.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,1.0,45000.0,0.341100,0.000000,0.000000
21,234331,정혜란,0,Cash loans,F,N,N,2,90000.0,1350000.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,1.0,30000.0,0.000000,0.000000,0.000000
22,107856,최우진,0,Cash loans,F,N,N,0,81000.0,152820.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,81000.0,0.513222,0.000000,0.000000
23,436761,최호윤,1,Revolving loans,F,N,Y,2,112500.0,202500.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,1.0,37500.0,0.000000,0.000000,0.000000
24,178082,피상민,0,Cash loans,M,N,N,0,135000.0,562491.0,...,0.0,0.0,0.000000e+00,0.000000,0.0,0.0,135000.0,0.406161,0.000000,0.000000

In [6]:
df["OVERDUE_RATIO"]

0     0.000000
1     0.000000
2     0.000000
3     0.066667
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.142857
9     0.090909
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    0.000000
23    0.000000
24    0.000000
Name: OVERDUE_RATIO, dtype: float64